<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                    </head>
    
    <body>
        <style>
            body {
                width: 95%;
                min-height: 367pt;
                font-family: 'Avenir-Book';
                color: #4D4D4D;
                font-size: 12px;
            }
        
        .head-td {
            width: 180pt;
        }
        
        .head-td-list {
            vertical-align: top;
        }
        </style>
        <table style="width:100%">
            <tr>
                <td class="head-td">Title</td>
                <td>{{title}}</td>
            </tr>
            <tr>
                <td class="head-td">Author</td>
                <td>{{author}}</td>
            </tr>
            <tr>
                <td class="head-td head-td-list">Lorem Text</td>
                <td>
                    <ul>
                        <li>
                            {{loremText}},Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                        </li>
                        <li>
                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <p>Notices</p>
        <ul style="list-style-type:disc;">
            {{noticeItmList}}
        </ul>
    </body>
    
</html>
